<% content_for :page_title do %>
Ruby on Rails 가이드
<% end %>

<% content_for :header_section do %>
<h2>Ruby on Rails 가이드 (<%= ENV['RAILS_VERSION'] || 'edge' %>)</h2>

<% if @edge %>
<p>
  These are <b>Edge Guides</b>, based on the current
  <a href="http://github.com/rails/rails/tree/master">master branch</a>.
</p>
<p>
  If you are looking for the ones for the stable version please check
  <a href="http://guides.rubyonrails.org">http://guides.rubyonrails.org</a> instead.
</p>
<% else %>
<p>
  이 문서는 Rails 3를 위한 새로운 가이드 입니다. Rails 2.3 을 위한 문서는 다음의 링크에서 볼 수 있습니다.
  <a href="http://guides.rubyonrails.org/v2.3.8/">http://guides.rubyonrails.org/v2.3.8/</a>.
</p>
<% end %>
<p>
  이 가이드는 생산적인 레일즈 개발과 어떻게 각 구성 요소의 동작 이해에
  초점을 맞추고 있습니다.
</p>

<% end %>

<% content_for :index_section do %>
<div id="subCol">
  <dl>
    <dd class="warning">레일즈 가이든는 <a href="http://hackfest.rubyonrails.org">Guides hackfest</a> 결과의 일환이고 진행중입니다.</dd>
    <dd class="work-in-progress">이 아이콘이 표시된 곳은 현재 '작성중'이라는 걸 의미하니다. 진행 중인 문서도 유용하겠지만, 불완전한 정보나 간혹, 잘못된 내용을 포함할 수 있습니다. 내용을 리뷰하고 저자에게 코멘트나 수정 제안으로 기여 할 수 있습니다.</dd>
  </dl>
</div>
<% end %>

<h3>시작</h3>

<dl>
<%= guide('레일즈 시작하기', 'getting_started.html') do %>
  <p>레일즈를 설치하고 첫 어플리케이션을 만드는데 필요한 내용</p>
<% end %>
</dl>

<h3>모델</h3>

<dl>
<%= guide("레일즈 데이터베이스 마이그레이션", 'migrations.html') do %>
  <p>이 가이드는 데이터베이스 변경을 위한 엑티브 레코드 마이그레이션에 관한 구조와 관습을 기술합니다.</p>
<% end %>

<%= guide("엑티브 레코드 Validation(유효성 검증)과 Callback(콜백)", 'active_record_validations_callbacks.html') do %>
  <p>이 가이드는 엑티브 레코드의 Validation(유효성 검증)과 Callback(콜벡)을 사용 방법을 기술합니다.</p>
<% end %>

<%= guide("엑티브 레코드 Association(관계)", 'association_basics.html') do %>
  <p>이 가이드는 엑티브 레코드가 제공하는 Association(관계)를 기술합니다.</p>
<% end %>

<%= guide("엑티브 레코드 쿼리 인터페이스", 'active_record_querying.html') do %>
  <p>이 가이드는 엑티브 레코드가 제공하는 쿼리 인터페이스에 대한 내용을 기술합니다.</p>
<% end %>
</dl>

<h3>뷰</h3>

<dl>
<%= guide("레일증에서 레이아웃(Layouts)과 렌더링(Rendering)", 'layouts_and_rendering.html') do %>
  <p>이 가이드는 액션 컨트롤러와 액션 뷰의 레이아웃 기본 요소를 기술합니다. (랜더링과 리다이렉트, content_for 블록과 partial 활용을 포함합니다.)</p>
<% end %>

<%= guide("액션 뷰 폼 핼퍼(Action View Form Helpers)", 'form_helpers.html', :work_in_progress => true) do %>
  <p>내장된 폼 핼퍼 가이드</p>
<% end %>
</dl>

<h3>컨트롤러</h3>

<dl>
<%= guide("Action Controller Overview", 'action_controller_overview.html') do %>
  <p>This guide covers how controllers work and how they fit into the request cycle in your application. It includes sessions, filters, and cookies, data streaming, and dealing with exceptions raised by a request, among other topics.</p>
<% end %>

<%= guide("Rails Routing from the Outside In", 'routing.html') do %>
  <p>This guide covers the user-facing features of Rails routing. If you want to understand how to use routing in your own Rails applications, start here.</p>
<% end %>
</dl>

<h3>Digging Deeper</h3>

<dl>

<%= guide("Active Support Core Extensions", 'active_support_core_extensions.html') do %>
  <p>This guide documents the Ruby core extensions defined in Active Support.</p>
<% end %>

<%= guide("Rails Internationalization API", 'i18n.html') do %>
  <p>This guide covers how to add internationalization to your applications. Your application will be able to translate content to different languages, change pluralization rules, use correct date formats for each country and so on.</p>
<% end %>

<%= guide("Action Mailer Basics", 'action_mailer_basics.html', :work_in_progress => true) do %>
  <p>This guide describes how to use Action Mailer to send and receive emails.</p>
<% end %>

<%= guide("Testing Rails Applications", 'testing.html', :work_in_progress => true) do %>
  <p>This is a rather comprehensive guide to doing both unit and functional tests in Rails. It covers everything from &quot;What is a test?&quot; to the testing APIs. Enjoy.</p>
<% end %>

<%= guide("Securing Rails Applications", 'security.html') do %>
  <p>This guide describes common security problems in web applications and how to avoid them with Rails.</p>
<% end %>

<%= guide("Debugging Rails Applications", 'debugging_rails_applications.html') do %>
  <p>This guide describes how to debug Rails applications. It covers the different ways of achieving this and how to understand what is happening "behind the scenes" of your code.</p>
<% end %>

<%= guide("Performance Testing Rails Applications", 'performance_testing.html') do %>
  <p>This guide covers the various ways of performance testing a Ruby on Rails application.</p>
<% end %>

<%= guide("Configuring Rails Applications", 'configuring.html') do %>
  <p>This guide covers the basic configuration settings for a Rails application.</p>
<% end %>

<%= guide("Rails Command Line Tools and Rake tasks", 'command_line.html', :work_in_progress => true) do %>
  <p>This guide covers the command line tools and rake tasks provided by Rails.</p>
<% end %>

<%= guide("Caching with Rails", 'caching_with_rails.html', :work_in_progress => true) do %>
  <p>Various caching techniques provided by Rails.</p>
<% end %>
</dl>

<h3>Extending Rails</h3>

<dl>
  <%= guide("The Basics of Creating Rails Plugins", 'plugins.html', :work_in_progress => true) do %>
    <p>This guide covers how to build a plugin to extend the functionality of Rails.</p>
  <% end %>

  <%= guide("Rails on Rack", 'rails_on_rack.html') do %>
    <p>This guide covers Rails integration with Rack and interfacing with other Rack components.</p>
  <% end %>

  <%= guide("Creating and Customizing Rails Generators", 'generators.html') do %>
    <p>This guide covers the process of adding a brand new generator to your extension
      or providing an alternative to an element of a built-in Rails generator (such as
      providing alternative test stubs for the scaffold generator).</p>
  <% end %>
</dl>

<h3>Contributing to Ruby on Rails</h3>

<dl>
  <%= guide("Contributing to Ruby on Rails", 'contributing_to_ruby_on_rails.html') do %>
    <p>Rails is not &quot;somebody else's framework.&quot; This guide covers a variety of ways that you can get involved in the ongoing development of Rails.</p>
  <% end %>

  <%= guide('API Documentation Guidelines', 'api_documentation_guidelines.html') do %>
    <p>This guide documents the Ruby on Rails API documentation guidelines.</p>
  <% end %>

  <%= guide('Ruby on Rails Guides Guidelines', 'ruby_on_rails_guides_guidelines.html') do %>
    <p>This guide documents the Ruby on Rails guides guidelines.</p>
  <% end %>
</dl>

<h3>Release Notes</h3>

<dl>
<%= guide("Ruby on Rails 3.0 Release Notes", '3_0_release_notes.html') do %>
  <p>Release notes for Rails 3.0.</p>
<% end %>

<%= guide("Ruby on Rails 2.3 Release Notes", '2_3_release_notes.html') do %>
  <p>Release notes for Rails 2.3.</p>
<% end %>

<%= guide("Ruby on Rails 2.2 Release Notes", '2_2_release_notes.html') do %>
  <p>Release notes for Rails 2.2.</p>
<% end %>
<%= guide("한국어 번역에 대하여", 'about_korean_translation.html') do %>
  <p>번역을 위한 용어 사전 정보와 상태 정보를 포함하고 있습니다.</p>
<% end %>
</dl>
